table{
	border-collapse: collapse;
	background-color: #8dcd79;
}
table tr td {
	width: 250px;
	height: 150px;
	text-align: center;
}
table  tr  td:nth-child(1){
	border-right: 1px solid white;
	width: 100px;
}
table  tr  td:nth-child(2){
	border-right: 1px solid red;
}
table  tr  td:nth-child(4){
	border-left: 1px solid white;
	width: 100px;
}
table  tr  td:nth-child(2),table  tr  td:nth-child(3){
	border-bottom: 1px solid white;
}


